.button {
    $root: &;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: $button-color-green-border;
    appearance: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $site-box-spacing-5 $button-padding-mobile;
    flex: 0 0;
    width: auto;
    min-height: $button-min-height-small;
    transition: all $transition-duration-fast;
    @include respond-to(tablet) {
        padding: $site-box-spacing-5 $button-padding;
        min-height: $button-min-height-large;
    }
    height: $site-box-spacing-20;
    font-weight: $font-weight-regular;
    font-size: $font-size-8;
    line-height: $line-height-10;
    @include respond-to(desktop) {
        padding: $site-box-spacing-5 $button-padding;
        height: $site-box-spacing-25;
        font-size: $font-size-10;
        line-height: $line-height-12;
    }

    &--medium {
        height: $site-box-spacing-25;
        font-size: $font-size-9;
        line-height: $line-height-11;
        @include respond-to(tablet, desktop) {
            height: $site-box-spacing-30;
            font-weight: $font-weight-bold;
            font-size: $font-size-12;
            line-height: $line-height-14;
        }
    }

    &--large {
        height: $site-box-spacing-25;
        font-size: $font-size-12;
        line-height: $line-height-14;
        @include respond-to(tablet, desktop) {
            height: $site-box-spacing-40;
            font-weight: $font-weight-bold;
            font-size: $font-size-14;
            line-height: $line-height-16;
        }
    }

    &--xlarge {
        height: $site-box-spacing-40;
        @include typeset(DISPLAY4, $font-weight-regular, $font-family-primary, $color-green-primary);
        @include respond-to(tablet, desktop) {
            height: $site-box-spacing-50;
        }
    }

    &--has-shadow {
        box-shadow: $button-primary-box-shadow;
    }

    &--thick-border {
        border-width: $site-box-spacing-2;
    }

    &--disabled {
        cursor: pointer;
        pointer-events: none;
    }

    &--fullwidth {
        flex-grow: 1;
        width: 100%;
    }

    &--fixwidth {
        width: $button-fixwidth-mobile;
        @include respond-to(tablet, desktop) {
            width: $button-fixwidth;
        }
    }

    &--inline {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
    }

    &--primary {
        background-color: $button-color-green;
        color: $button-color-white-text;
        &#{$root}--hover,
        &:focus,
        &:hover {
            background-color: $button-color-green-hover;
        }
        &#{$root}--disabled {
            border: none;
            background-color: $button-color-inactive;
            color: $button-color-inactive-text;
        }
    }

    &--secondary {
        background-color: $button-color-white-text;
        border-color: $button-color-green;
        color: $button-color-green;
        &#{$root}--hover,
        &:focus,
        &:hover {
            background-color: $button-color-green-hover;
            color: $button-color-white-text;
        }
        &#{$root}--disabled {
            border: none;
            background-color: $button-color-inactive;
            color: $button-color-inactive-text;
        }
    }

    &--tertiary {
        background-color: $button-color-white-text;
        color: $button-color-black-text;
        border-color: $button-color-black-text;
        box-shadow: $button-black-box-shadow;
        &#{$root}--hover,
        &:focus,
        &:hover {
            background-color: $button-color-black-text;
            color: $button-color-white-text;
        }
        &#{$root}--disabled {
            border: none;
            background-color: $button-color-inactive;
            color: $button-color-inactive-text;
        }
    }

    &--link {
        position: relative;
        // text-decoration: none;
        cursor: pointer;
        padding: 0;
        overflow: visible;
        background-color: transparent;
        border: none;
        color: $button-color-white-text;

        #{$root}__content {
            display: inline-block;
            position: relative;
        }

        &#{$root}--disabled {
            color: $button-color-inactive-text;
        }

        &#{$root}--hover,
        &:focus,
        &:hover {
            color: $button-color-green-hover;
        }
    }

    &--no-background {
        background-color: transparent;
        color: $button-color-green;
        &#{$root}--hover,
        &:focus,
        &:hover {
            background-color: transparent;
            color: $button-color-green-hover;
        }
    }

    &__content {
        display: inline-block;
        text-align: center;
    }

    &__text-align {
        &--left {
            justify-content: flex-start;
        }
        &--right {
            justify-content: flex-end;
        }
    }
}
