
html {
    background-color: $color-grey-10;
    user-select: none;
    -webkit-user-select: none;
}

.c-cytiva__divider {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba($color-grey-50, .7);
  margin-bottom: $site-box-spacing-5;
}